<% results.forEach((result) => { %>
<tr>
  <td><%= result.userId.name %></td>
  <td><%= result.registrations %></td>
  <td><%= result.logins %></td>
  <td><%= result.logouts %></td>
  <td><%= result.profileUpdates %></td>
</tr>
